.navbar {
    background-color: #3D5F7E;
}

.quem-somos{
    background-color: #6191BB;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color:#95B8D5 ;
}

.bg-footer{
    background-color: black;
    color: white;
}

.servicos{
    background-color: #C4D4E2;
}